


<div id="mySidenav" class="sidenav">
  <a href=<%= movies_path()%> id="about">Movies</a>
  <a href=<%= actors_path()%> id="blog">Actors</a>
  <a href="#" id="projects">About</a>
  <a href="#" id="contact">Login</a>
</div>
